head, body {
  background-image: linear-gradient(blue, orange);
}

div, h1{
  display: flex;
  justify-content: center;
  height: 200px;
}

* {
  font-family:monospace;
  font-weight: bold;
  color: rgb(255, 230, 183);
}
.btn-primary {
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin-left: 470px;
  text-align: center;
};

#container {
  display: flex;
  margin: 100px;
  padding:100px;
}

.row  {
  margin-top: 10%;
  margin-right: 10%;
}

#coverImage {
  max-width: 50%;
  max-height: 100%;
}

#artistName {
  font-size: xx-large;
}

#songTitle  {
  font-size: xx-large;
}

#link {
  font-size: xx-large;
}

#searchHistoryContainer {
  flex-direction: column;
}