html {
  width: 100%;
  height: 100%;
}

head, body {
  background-image: linear-gradient(blue, orange);
  background-size: 100%;
  flex-wrap: wrap;
}


div, h1{
  display: flex;
  justify-content: center;
  height: 200px;
}

* {
  font-family:monospace;
  font-weight: bold;
  color: rgb(255, 230, 183);
}
.btn-primary {
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin-left: 470px;
  text-align: center;
};

#container {
  display: flex;
  margin: 100px;
  padding:100px;
  flex-wrap: wrap;
}

.row  {
  margin-top: 10%;
  margin-right: 10%;
  flex-wrap: wrap;
}

#artistName {
  font-size: xx-large;
  flex-wrap: wrap;
}

#songTitle  {
  font-size: xx-large;
  flex-wrap: wrap;
}

#link {
  font-size: xx-large;
  flex-wrap: wrap;
}

#searchHistoryContainer {
  flex-direction: column;
  flex-wrap: wrap;
}