div, h1{
  display: flex;
  justify-content: center;
}

select.form-select, input.form-control{
  width: 50%;
  margin-left: 10px;
}

* {
  font-family:monospace;
  font-weight: bold;
}
.btn-primary {
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin-left: 470px;
  text-align: center;
};